.huddle-logo {
  height: 1rem;
  max-width: 6rem;

  @media (min-width: 62.5em) {
    height: 1.8rem;
    max-width: 17rem;
    width: 100%;
  }
}

.hero-1__image,
.hero-2__image,
.hero-3__image {

  @media (min-width: 62.5em) {
    width: 80%;
  }
}



.footer-logo {
  width: 15rem;
  // height: 2rem;
  margin-bottom: 2rem;
  filter: invert(1) grayscale(1)  brightness(300%);
}

.icon-location {
  align-self: start;
  margin-top: 0.3125rem;
}